*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;

}

body{
  background-color: rgb(73, 23, 34);
}
.tarefaInput{
    background-image: linear-gradient(to bottom, rgb(31, 143, 196), steelblue, turquoise);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
.container{
    display: grid;
    justify-items: center;
    padding-top: 55px;
    gap: 10px;
}
.button{
    display: flex;
    gap: 25px;
    padding-top: 25px;

}
#button:hover{
    background-image: linear-gradient(to bottom, rgb(31, 143, 196), steelblue, turquoise);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(6, 82, 56);
  color: black;
}
#buttonLimpar:hover{
    background-image: linear-gradient(to bottom, rgb(31, 143, 196), steelblue, turquoise);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(196, 62, 28);
  color: black;
}
#buttonDelete:hover{
    background-image: linear-gradient(to bottom, rgb(31, 143, 196), steelblue, turquoise);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(114, 21, 75);
  color: black;
}
.error {
    background: rgb(116, 33, 3);
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  .list{
    list-style: none;
    
   
    
  }
  .ulList{
    text-decoration: none;
    list-style: none;
    justify-content:space-between;
    gap: 35px;
    margin: 10px;
   
   
    flex-wrap: nowrap;
  }
#button{
    display: flex;
    gap:15px;
    border-radius: 5px;
    width: 55px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: wheat;
    height: 30px;
}
#buttonDelete{
    display: flex;
    gap:15px;
    border-radius: 5px;
    width: 55px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: wheat;
    height: 30px;
}
#buttonLimpar{
    display: flex;
    gap:15px;
    border-radius: 5px;
    width: 55px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: wheat;
    height: 30px;
}
li{
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    color: red;
  }